{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	body{
	  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	}
</style>
<head>
	<meta charset="UTF-8">
	<title>HTML Iframs</title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script language="javascript">
		function ShowTable(wtable){
		 eval(wtable).style.display="";
		}
		function HideTable(wtable){
		 eval(wtable).style.display="none";
		}
		function add_memo(){
			window.open('memo/', '', 'width=400, height=200, left=900, top=150');
		}

	</script>


</head>

<body>

<iframe src={{link_toReader}} style="width:100%; height:700px"></iframe>

<form action="keywordAbstract" method=GET>
	<input type="hidden" name="theid" value="{{pmcID}}"/>
	<button class="btn btn-link" type="submit">See Knowledge Graph</button>
</form>

	<input type="button" value="Memo" onclick="ShowTable('Memo');HideTable('Graph');HideTable('Comments');HideTable('Board');">
	<input type="button" value="Graph" onclick="ShowTable('Graph');HideTable('Memo');HideTable('Comments');HideTable('Board');">
	<input type="button" value="Comments" onclick="ShowTable('Comments');HideTable('Graph');HideTable('Memo');HideTable('Board');">
	<input type="button" value="Board" onclick="ShowTable('Board');HideTable('Graph');HideTable('Comments');HideTable('Memo');">

	<form name = form>
	<table id="Memo" style="display:none;">
		<tr>
		 <td>
			 <br>
			{% if user.is_authenticated %}

			 <input type="hidden" id="theid" value="{{pmcID}}">
			 <input type="button" class="btn btn-secondary" value="add memo" onclick="add_memo()">

			<br>
			 {% for memo in memos %}
				{% if memo.name.id == user.id %}
					<hr>
					<a href="{% url 'delete_memo' memo.pk %}"> (Delete) </a>
			 		<br>
			 		{{memo.body}}

				{% endif %}
			{% endfor %}

			 {% endif %}

			 </iframe>
			</td>
		</tr>
	</table>
	<table id="Graph" style="display:none;">
		<tr>
		 <td>

		 </td>
		</tr>
	</table>
	<table id="Comments" style="display:none;">
		<tr>
		 <td>
			 <br>
	<h3>Check Other Users Questions...</h3>
	<br>
	{% for post in posts %}
		<a href="{% url 'post_detail' post.pk %}">{{post.title}}</a>
		<small>
			<br>{{post.publish}} | {{post.author}}
			<br>
		</small><hr>
	{% endfor %}
	<br>
			 </iframe></td>
		</tr>
	</table>
	<table id="Board" style="display:none;">
		<tr>
		 <td>
			 {% if user.is_authenticated %}
			 <br>
		<h3>Add Myself A Question...</h3>
		<form action="add" method=GET>
			<input type="hidden" name="theid" value="{{pmcID}}"/>
			<input class="btn btn-link" type="submit" value='add one'/>
		</form>
	{% endif %}


		 </td>
		</tr>
	</table>
	</form>

<br><br><br>
</body>

</html>
{% endblock %}